@import "/utils/styles/variables";

.message {
  display: flex;
  align-items: center;
  max-width: 250px;
  min-height: 50px;
  background-color: #3369F3;
  border-color: #3369F3;
  color: white;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;

  &_me {
    align-self: flex-end;
  }

  &_other {
    align-self: flex-start;
    background-color: #999;
  }
}
