@import "/utils/styles/variables.scss";

.auth-form {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    margin: 0 0 40px;

    color: $BLACK_COLOR_1;

    @include title2Regular;
  }

  &_login {
    height: 450px;
  }

  &_signup {
    height: 615px;
  }
}
