.settings-button {
  width: 10px;
  height: 15px;
  padding: 0;
  margin: 0;
  border: none;

  background-image: url("/assets/icons/settings.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  cursor: pointer;
}
