@import "/utils/styles/variables";

.button {
  margin-top: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 280px;
  width: 100%;
  min-height: 37px;
  border: none;
  border-radius: 8px;
  background: $blue-color-1;
  cursor: pointer;
  color: $white-color-1;

  &_red {
    background-color: $red-color-1;
  }
}

.link {
  color: $blue-color-1;
  text-decoration: none;
  cursor: pointer;

  &_xs {
    @include text2-link;
  }

  &_button {
    text-align: left;
    border: none;
    background-color: transparent;
    padding: 0;
  }

  &_regular {
    @include text1-regular;
  }

  &_red {
    color: $red-color-1;
  }
}
