@import "/utils/styles/variables";

.auth-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    margin: 0 0 40px;
    color: $black-color-1;

    @include title2-regular;
  }

  &_login {
    min-height: 450px;
  }

  &_signup {
    min-height: 615px;
  }
}
