@font-face {
  font-family: Inter;
  src: url('../../fonts/Inter_Bold.otf') format('otf');
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url('../../fonts/Inter_Semi_Bold.otf') format('otf');
  font-weight: 600;
}
