$BLUE_COLOR_1: #3369F3;
$BLUE_COLOR_2: #E4EDFD;
$GRAY_COLOR_1: #999999;
$GRAY_COLOR_2: #EAEAEA;
$GRAY_COLOR_3: #EFEFEF;
$BLACK_COLOR_1: #1E1E1E;
$BLACK_COLOR_2: #000000;
$RED_COLOR_1: #FF2F2F;
$WHITE_COLOR_1: #FFFFFF;
$WHITE_COLOR_2: #FBFBFB;

@mixin title1Regular {
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
}

@mixin title2Regular {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
}

@mixin title3Regular {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

@mixin text1Regular {
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
}

@mixin text2Regular {
  font-size: 13px;
  font-weight: 500;
  line-height: 14px;
}

@mixin text1Medium {
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
}

@mixin extraText1Regular {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

@mixin extraText2Regular {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

@mixin extraText3Regular {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

@mixin text1Link {
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
}


@mixin text2Link {
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
}

@mixin text1Badge {
  font-size: 9px;
  font-weight: 500;
  line-height: 13px;
}

@mixin text2Badge {
  font-size: 9px;
  font-weight: 500;
  line-height: 9px;
}


