<div class="wrapper">
    {{> backSidebar/backSidebar}}
    <main class="main">
        <section class="content {{ content-class }}">
            {{> @partial-block }}
        </section>
    </main>
</div>

