@import "/utils/styles/variables.scss";

.profile-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 60px;
    color: $BLACK_COLOR_1;

    text-align: center;

    @include title3Regular;
  }
}
