@import "/utils/styles/variables";

.back-sidebar {
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid $gray-color-2;
  background: $white-color-2;
}
