<section class="chat-screen">
    <div class="chat-screen__header">
        <div class="chat-screen__user-info">
            <div class="chat-screen__avatar-wrapper">
                {{> avatar/avatar avatar-src="/assets/icons/avatar.svg" }}
            </div>

            <p class="chat-screen__user-name">{{ user-name }}</p>
        </div>

        {{> settingsButton/settingsButton}}
    </div>

    <div class="chat-screen__content">

    </div>

    <div class="chat-screen__bottom-panel">
        {{> safetyPinButton/safetyPinButton}}

        <form class="chat-screen__form-message">
            <label class="chat-screen__label-message">
                <input class="chat-screen__input-message" name="message" type="text" placeholder="Сообщение">
            </label>
        </form>

        {{> submitButton/submitButton }}
    </div>
</section>
