<li class="chat-list-element">
    <div class="chat-list-element__wrapper">
        <div class="chat-list-element__avatar-wrapper">
            {{> avatar/avatar avatar-src="/assets/icons/avatar.svg" }}
        </div>

        <div class="chat-list-element__description">
            <h3 class="chat-list-element__user-name">{{ user-name }}</h3>
            <p class="chat-list-element__user-message">{{ user-message }}</p>
        </div>

        <div class="chat-list-element__info">
            <p class="chat-list-element__date">{{ message-date }}</p>
            <div class="chat-list-element__message-count">{{ message-count }}</div>
        </div>
    </div>
</li>
