@import "/utils/styles/variables";

.chat-list-element {
  position: relative;
  padding: 12px 0;
  width: 100%;
  height: 47px;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  &:first-child::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    border-top: 1px solid $gray-color-2;
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    border-top: 1px solid $gray-color-2;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto 193px auto;
    gap: 10px;
  }

  &__avatar-wrapper {
    width: 47px;
    height: 47px;
  }

  &__description {
    position: relative;
    width: 193px;
    height: 100%;
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__user-name {
    width: 100%;
    margin: 0;
    color: $black-color-1;

    @include text1-medium;
  }

  &__user-message {
    width: 100%;
    margin: 0;
    color: $gray-color-1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include extra-text1-regular;
  }

  &__message-count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20px;
    height: 20px;
    color: $white-color-1;
    background-color: $blue-color-1;
    border-radius: 50%;

    @include text1-link;
  }

  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__date {
    margin: 0;
    color: $gray-color-1;

    @include text1-badge;
  }
}
