@import "/utils/styles/variables";

.profile-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    margin: 0;
    padding: 0;
    color: $black-color-1;

    @include text1-regular;
  }

  &:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  &:not(:last-child)::after {
    left: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 100%;
    border-bottom: 1px solid $gray-color-2;
  }
}

.profile-input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: right;
  color: $gray-color-1;

  @include text1-regular;
}
