@import "/utils/styles/variables";

.link {
  color: $blue-color-1;
  text-decoration: none;


  &_xs {
    @include text2-link;
  }

  &_regular {
    @include text1-regular;
  }

  &_red {
    color: $red-color-1;
  }
}
